<footer class="footer">
  <div class="container text-muted" style="text-align: center;">

    <p>
      This is a SPARQL endpoint for the <a href="https://hub.dsmz.de">DSMZ Digital Diversity</a> knowledge graphs based on <a href="https://github.com/ad-freiburg/qlever" target="_blank">QLever</a>.
    </p>

    <div class="footer" style="display: flex; gap:2rem; justify-content: center; margin-bottom: 1rem;">
      <span> © DSMZ 2024 </span>
      <a href="https://hub.dsmz.de/#/imprint">Imprint</a>
      <a href="https://hub.dsmz.de/#/imprint">Privacy Statement</a>
      <a href="https://hub.dsmz.de/#/imprint">Copyright &amp; License</a>
    </div>

  </div>
</footer>