/*
	
Basic HTML Elements

*/
*:root {
  --dark-color: #191c20;
  --dark-color-light: #25282c;
  --gray-color: #e7e8e9;
  --gray-color-light: #f1f1f1;
  --gray-color-very-light: #f7f7f7;
  --body-color: #f1f1f1;
  --text-color: #464646;
  --border-color: #afafaf;
  --divider-color: rgba(175, 175, 175, 0.5);
  --font-family: Rubik, Roboto, Helvetica, Arial, sans-serif;
  --icon-font: Phosphor;
  --max-page-width: 150rem;
  --base-font-size: 1.4rem;
  --base-line-height: 1.5;
  --border-width: 1px;
  --border-radius: 5px;
  --base-text-color-light: rgba(70, 70, 70, 0.8);
  --dm-base-text-color: rgba(255, 255, 255, 0.8);
  --muted-text-color: #b3b3b3;
  --box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  --box-shadow-long: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
  --color-logo-red: #B61F29;
  --color-logo-blue: #006EB7;
  --color-logo-green: #1FA138;
  --color-logo-gray: #b2b2b2;
  --color-gray-80: #575756;
  --color-gray-60: #878787;
  --color-gray-40: #b2b2b2;
  --color-gray-20: #dadada;
  --color-warm-darkred: #5F272A;
  --color-warm-orange: #EE7203;
  --color-warm-red: #DD0B2F;
  --color-warm-yellow: #ECAF00;
  --color-cold-darkblue: #13357A;
  --color-cold-lightblue: #83D0F5;
  --color-cold-blue: #4C96CB;
  --color-cold-green: #95BB20;
  --color-cold-purple: #9a499c;
  --color-db-bacdive: #b61f29;
  --color-db-silva: #ee7203;
  --color-db-brenda: #000064;
  --color-db-lpsn: #9a499c;
  --color-db-tygs: #1fa138;
  --color-db-mediadive: #c81681;
  --color-db-celldive: #006eb7;
  --color-db-straininfo: #ecaf00;
  --color-db-phagedive: #00a19a;
  --blue-color: #006EB7;
  --blue-color-light: #147abd;
  --blue-color-very-light: #cce2f1;
  --blue-color-dark: #0065a8;
  --blue-color-very-dark: #001625;
  --blue-color-20: rgba(0, 110, 183, 0.2);
  --blue-color-30: rgba(0, 110, 183, 0.3);
  --blue-color-60: rgba(0, 110, 183, 0.6);
  --primary-color: #006EB7;
  --primary-color-light: #147abd;
  --primary-color-very-light: #cce2f1;
  --primary-color-dark: #0065a8;
  --primary-color-very-dark: #001625;
  --primary-color-20: rgba(0, 110, 183, 0.2);
  --primary-color-30: rgba(0, 110, 183, 0.3);
  --primary-color-60: rgba(0, 110, 183, 0.6);
  --secondary-color: #006EB7;
  --secondary-color-light: #147abd;
  --secondary-color-very-light: #cce2f1;
  --secondary-color-dark: #0065a8;
  --secondary-color-very-dark: #001625;
  --secondary-color-20: rgba(0, 110, 183, 0.2);
  --secondary-color-30: rgba(0, 110, 183, 0.3);
  --secondary-color-60: rgba(0, 110, 183, 0.6);
  --success-color: #1FA138;
  --success-color-light: #31a948;
  --success-color-very-light: #d2ecd7;
  --success-color-dark: #1d9434;
  --success-color-very-dark: #06200b;
  --success-color-20: rgba(31, 161, 56, 0.2);
  --success-color-30: rgba(31, 161, 56, 0.3);
  --success-color-60: rgba(31, 161, 56, 0.6);
  --muted-color: #878787;
  --muted-color-light: #919191;
  --muted-color-very-light: #e7e7e7;
  --muted-color-dark: #7c7c7c;
  --muted-color-very-dark: #1b1b1b;
  --muted-color-20: rgba(135, 135, 135, 0.2);
  --muted-color-30: rgba(135, 135, 135, 0.3);
  --muted-color-60: rgba(135, 135, 135, 0.6);
  --danger-color: #B61F29;
  --danger-color-light: #bc313a;
  --danger-color-very-light: #f0d2d4;
  --danger-color-dark: #a71d26;
  --danger-color-very-dark: #240608;
  --danger-color-20: rgba(182, 31, 41, 0.2);
  --danger-color-30: rgba(182, 31, 41, 0.3);
  --danger-color-60: rgba(182, 31, 41, 0.6);
  --signal-color: #ECAF00;
  --signal-color-light: #eeb514;
  --signal-color-very-light: #fbefcc;
  --signal-color-dark: #d9a100;
  --signal-color-very-dark: #2f2300;
  --signal-color-20: rgba(236, 175, 0, 0.2);
  --signal-color-30: rgba(236, 175, 0, 0.3);
  --signal-color-60: rgba(236, 175, 0, 0.6);
  --tile-color: white;
  --table-head-color: #dfdfdf;
  --navbar-height: 8rem;
  --navbar-bottom-height: 6rem;
  --navbar-large-height: 14rem;
  --navbar-horizontal-padding: 1rem;
  --navbar-border-color: #afafaf;
  --navbar-box-shadow: none;
  --navbar-fixed-bottom-box-shadow: none;
  --sidebar-width: 22rem;
  --sidebar-bg-color: white;
  --sidebar-box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.15);
  --sidebar-overlay-bg-color: rgba(0, 0, 0, 0.75);
  --shadow-color: rgba(0, 0, 0, 0.21);
  --dm-shadow-color: rgba(0, 0, 0, 0.4);
  --small-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.21);
  --shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.21);
  --large-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.21);
  --content-and-tile-spacing: 2rem;
  --content-and-tile-spacing-xs: 1.5rem;
  --content-and-tile-spacing-half: calc(2rem / 2);
  --content-and-tile-spacing-xs-half: calc(1.5rem / 2);
  --content-title-font-size: 2rem;
  --content-title-font-weight: 500;
  --button-bg-color: #ffffff;
  --button-border-color: #c8c8c8;
  --button-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
  --button-box-shadow-focus: 0 0 0 0.2rem rgba(0, 110, 183, 0.6);
  --button-outline-color-focus: transparent;
  --dropdown-arrow-size: 0.8rem;
  --dropdown-arrow-size-negative: calc(0.8rem * -1);
  --dropdown-arrow-inner-spacing: calc(0.2rem + 0.8rem * -1);
  --dropdown-arrow-horizontal-spacing: 0.8rem;
  --dropdown-content-padding: 1.2rem;
  --dropdown-item-padding: 0.6rem 1.2rem;
  --tooltip-arrow-width: 1rem;
  --progress-group-item-margin: 0.4rem;
  --footer-height: 25rem;
}

@font-face {
  font-family: "Rubik";
  src: url("Rubik/static/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-style: italic;
  src: url("Rubik/static/Rubik-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: url("Rubik/static/Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-style: italic;
  src: url("Rubik/static/Rubik-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 600;
  src: url("Rubik/static/Rubik-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 600;
  font-style: italic;
  src: url("Rubik/static/Rubik-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 300;
  src: url("Rubik/static/Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 300;
  font-style: italic;
  src: url("Rubik/static/Rubik-LightItalic.ttf") format("truetype");
}

a {
	cursor: pointer;
}

kbd {
	background-color: var(--primary-color) !important;
}

body {
  background-color: var(--body-color);
  background-image: none;
  color: #464646;
  font-size: var(--base-font-size);
  line-height: 1.5;
  font-family: "Rubik", "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/*
	
Custom Elements

*/

#stats {
	display: none;
}

#main {
    margin-top: 50px;
	padding-top: 20px;
}

.alert h3, .well h3 {
	margin-top: 0px;
}

.glyphicon, .well h2, .well h3, .well h4, .well h5, #lastQueries a { color: var(--primary-color); }
.btn-success .glyphicon { color: white; }
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.tooltip .tooltip-inner { background-color: var(--primary-color); max-width: 600px; word-wrap: break-word; }
.tooltip .tooltip-arrow { border-top-color: var(--primary-color) !important; border-bottom-color: var(--primary-color) !important; }

.keyword-search-highlight {
	text-decoration: underline;
	text-decoration-color: var(--primary-color);
	text-underline-position: under;
	text-decoration-thickness: 3px;
}

.keyword-search-hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.table > tbody > tr > td:first-child { color: #d3d3d3; }
th { color: var(--primary-color); white-space: nowrap; }


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: white !important;
	background-color: var(--primary-color) !important;
}

.nav-pills>li>a {
	color: var(--primary-color) !important;
}

.d,
#help,
#helpButton { 
	display: none;
}

.buttonFlex {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
}

.buttonFlex>button, .buttonFlex>.btn-group { margin-right: 5px; }

#dynamicSuggestions {
	margin-top: 10px;
}

@media (min-width: 990px) {
	.d,
	#help,
	#helpButton {
		display: inline;
	}
		
	#dynamicSuggestions {
		margin-top: 0px;
	}
}

/**
	
	CodeMirror Styles
	
**/

.CodeMirror {max-width: 100%;}

.cm-placeholder {
	background: #34759E; /* Old browsers */
	background: -moz-linear-gradient(top,  #34759E 0%, #4787AD 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #34759E 0%,#4787AD 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #34759E 0%,#4787AD 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-radius: 5px; 
	color: white;
	padding: 0px 5px 2px 5px;
}

.cm-atom {
	color: var(--color-cold-darkblue) !important;
}

.cm-keyword {
	font-weight: 600;
}

.cm-prefix-name {
	font-weight: 600;
}

.cm-variable {
	color: var(--color-cold-darkblue);
}

.cm-function {
	color: var(--color-cold-purple);
	font-weight: 600;
}

.cm-comment {
	color: var(--color-cold-green) !important;
}

/*

    Name:       Railscasts
    Author:     Ryan Bates (http://railscasts.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-railscasts.CodeMirror {background: #2b2b2b; color: #f4f1ed;}
.cm-s-railscasts div.CodeMirror-selected {background: #5C6573 !important;}
.cm-s-railscasts .CodeMirror-gutters {background: #2b2b2b; border-right: 0px;}
.cm-s-railscasts .CodeMirror-linenumber {color: #5a647e;}
.cm-s-railscasts .CodeMirror-cursor {border-left: 1px solid #d4cfc9 !important;}

.cm-s-railscasts span.cm-comment {color: #bc9458;}
.cm-s-railscasts span.cm-atom {color: #6d9cbe;}
.cm-s-railscasts span.cm-number {color: #b6b3eb;}

.cm-s-railscasts span.cm-property, .cm-s-railscasts span.cm-attribute {color: #a5c261;}
.cm-s-railscasts span.cm-keyword {color: #da4939;}
.cm-s-railscasts span.cm-string {color: #ffc66d;}

.cm-s-railscasts span.cm-variable {color: #a5c261;}
.cm-s-railscasts span.cm-variable-2 {color: #6d9cbe;}
.cm-s-railscasts span.cm-def {color: #cc7833;}
.cm-s-railscasts span.cm-error {background: #da4939; color: #d4cfc9;}
.cm-s-railscasts span.cm-bracket {color: #f4f1ed;}
.cm-s-railscasts span.cm-tag {color: #da4939;}
.cm-s-railscasts span.cm-link {color: #b6b3eb;}

.cm-s-railscasts .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-railscasts .CodeMirror-activeline-background { background: #303040; }

/**
	
	CodeMirror Hints
	
**/

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: black;
  cursor: pointer;
  position: relative;
  line-height: 1.5;  
}

.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: 1px solid silver;

  background: white;
  font-size: 90%;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: black;
  cursor: pointer;
}

.CodeMirror-hint {
	padding-right: 10px;
}

li.CodeMirror-hint-active {
  background: #d5ebff;
}

.CodeMirror-hint .hint-name {
	float: right;
	color: grey;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CodeMirror-hint .hint-name .mixedModeSuggestion {
  color: blue;
}

.CodeMirror-placeholder {
	color: #9a9a9a !important;
}

#meta-info p {
  font-size: 80%;
}

/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant { position: relative; overflow: hidden; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; visibility: hidden; }
.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.Treant .collapse-switch { width: 3px; height: 3px; display: block; border: 1px solid black; position: absolute; top: 1px; right: 1px; cursor: pointer; }
.Treant .collapsed .collapse-switch { background-color: #868DEE; }
.Treant > .node img {	border: none; float: left; }


#result-tree .node {
  padding: 3px;
  border-radius: 3px;
  background-color: #FEFEFE;
  border: 1px solid #000;
  min-width: 25em;
  font-size: 80%;
  color: black;
}

#result-tree .node > p { margin: 0; white-space: nowrap; }
#result-tree .node-name { font-weight: bold; }
#result-tree .node-status { font-size: 90%; color: #000099; }
#result-tree .node.not-started { color: #999; }
#result-tree p.fully-materialized { display: none; }
#result-tree p.lazily-materialized { display: none; }
#result-tree .node-status.failed { font-weight: bold; color: red; }
#result-tree .node-status.child-failed { color: red; }
#result-tree .node-status.not-started { color: blue; }
#result-tree .node-status.optimized-out { color: blue; }
#result-tree .node-status.lazily-materialized { color: blue; }
#result-tree .node-cols:before { content: "Cols: "; }
#result-tree .node-size:before { content: "Size: "; }
#result-tree .node-size { display: inline; }
#result-tree .node-size-estimate { display: inline; padding-left: 1em; }
#result-tree .node-time:before { content: "\ATime: "; white-space: pre; }
#result-tree .node-time { display: inline; }
#result-tree .node-cost-estimate { display: inline; padding-left: 1em; }
#result-tree .node-status { display: inline; padding-left: 1em; }
#result-tree .node-time:after { content: "ms"; }
#result-tree .node-details { display: none; color: blue; }
#result-tree .node-details:before { content: "Details: " }
#result-tree div.cached-not-pinned .node-time:after { content: "ms [cached]"; }
#result-tree div.cached-pinned .node-time:after { content: "ms [cached, pinned]"; }
#result-tree div.ancestor-cached .node-time:after { content: "ms [ancestor cached]"; }
#result-tree p.node-cache-status { display: none; }
#result-tree .node.cached-pinned { color: grey; border: 1px solid grey; }
#result-tree .node.cached-not-pinned { color: grey; border: 1px solid grey; }
#result-tree .node-total { display: none; }
#result-tree .node.high { background-color: #FFEEEE; }
#result-tree .node.veryhigh { background-color: #FFCCCC; }
#result-tree .node.high.cached { background-color: #FFFFEE; }
#result-tree .node.veryhigh.cached { background-color: #FFFFCC; }



.btn-action {
  color: #fff !important;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-action .glyphicon {
  color: white;
}

.btn-action:hover {
  background-color: var(--primary-color-60);
  border-color: var(--primary-color);
}

.btn-action.focus, .btn-action:focus, .btn-action.active, .btn-action:active  {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-very-dark);
}

.well {
  background-color: white;
}

.CodeMirror {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

hr {
  height: var(--border-width);
  color: #464646;
  background-color: rgba(175, 175, 175, 0.5);
  border: none;
  box-sizing: content-box;
  overflow: visible;
}